.close-icon-custom{
    transition: transform 0.2s cubic-bezier(.6, 0.05, .01, 1);
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(242, 242, 242);
}

.close-icon-custom:hover{
    transform:scale(1.2);
}