:root {
  --red: #E1544E;
  --red2: #EA8783;
  --red3: #F3BBB8;
  --blue: #4B73EC;
  --blue2: #607DD7;
  --blue3: #7487C3;
  --yellow: #F5C84F;
  --yellow2: #F8D984;
  --yellow3: #FBE9B9;
  --blush: #FF544E;
  --blush2: #FF8783;
  --blush3: #FFBBB8;
  --green: #77C595;
  --green2: #A0D6B5;
  --green3: #C9E8D5;
  --dark: #2B2B2B;
  --dark2: #666666;
  --dark3: #999999;
  --white: #E4E4E4;
  --white2: #FFFFFF;
  --white3: #F7FAFC;
  --t-neutral-60: rgba(228, 228, 228, 0.6);
};

