body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.swal2-title-custom {
  font-family: 'DM Sans', sans-serif;
  font-size: 25px;
}

.swal2-text-custom {
  font-family: 'DM Sans', sans-serif;
}

.swal2-input-custom {
  font-family: 'DM Sans', sans-serif;
}

.swal2-validation-message{
  font-family: 'DM Sans', sans-serif;
  font-size: 15px;
}

.swal2-html-custom{
  font-family: 'DM Sans', sans-serif;
}


.container {
  display: flex;
  height: 100%; /* Full height of viewport */
  max-width: 100vw !important;
  min-width: 100vw !important;
}

.canvas-container {
 width:100%; /* 70% of the width */
  height: 100%; /* Full height of viewport */
  background-color: #f0f0f0; /* Optional: Background color for clarity */
  overflow: hidden; /* Ensure content doesn't overflow */
  cursor: url('./assets/blade.png') 16 16, crosshair;
}



.button-container {
  /* flex: 0 0 30%; 30% of the width */
  /* display: flex;
  flex-direction: column; */
  width:0%;
  
  display: grid;
  grid-template-rows: repeat(2, 1fr); /* Two rows with automatic height */
 
  
  /* Full height of viewport */
  background-color: #e0e0e0; /* Optional: Background color for clarity */
}

/* .perspective-canvas {
  flex: 1; Take up 50% of the container height
  
} */

.buttons {
  flex: 1; /* Take up 50% of the container height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-container1 {
/* //flex: 1; */
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  /* display: flex;
  flex-direction: row; */
  
  
  align-items: center;
  /* Align buttons to the bottom */
  /* height: 100vh; */
  border-radius:red
}

.button-container1 button {
  margin: 5px;
  padding: 5px; /* Smaller padding for smaller buttons */
  font-size: 12px; /* Smaller font size for smaller buttons */
}

.dimension-setter{
  position: fixed;
  top: 86px;
  background-color: white;
  right: calc(21vw - 40px);
  padding: 8px 8px 8px 8px;
  border-radius: 24px;
  box-shadow: 0 3px 7px 0 #8F8F8F08;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;
}

.switch .dimension-switch { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.dimension-switch:checked + .slider {
  background-color: #2196F3;
}

.dimension-switch:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.dimension-switch:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.zoom-container{
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: 32px;
  border-radius: 12px;
  background-color: #FFFFFF;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 4px;
  position: fixed;
  bottom: 16px;
  left: 16px;
  overflow: hidden;
  box-shadow: 0px 13px 13px 0px #8F8F8F08;
}

.zoom-container button{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: #FFFFFF;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
  padding: 4px 5px;
  &:hover{
    transform: scale(1.05);
    background-color: #F4F4F4;
  }
}

.zoom-slider {
  -webkit-appearance: none;
  width: 150px;
  height: 4px;
  background: linear-gradient(to right, #007AFF 0%, #007AFF 50%, #0000000D 50%, #0000000D 100%);
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
  border-radius: 8px;
}

.zoom-slider:hover {
  opacity: 1;
}

.zoom-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  cursor: pointer;
  border-radius: 50%;
  border: 0.5px solid #00000055;
  box-shadow: 0px 1px 0.75px 0px #0000000D;
}

.zoom-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  cursor: pointer;
  border-radius: 50%;
  border: 0.5px solid #00000055;
  box-shadow: 0px 1px 0.75px 0px #0000000D;
}

/* .zoom-slider::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 4px;
}

.zoom-slider::-moz-range-track {
  -moz-appearance: none;
  height: 4px;
} */
